:root {
  --light-orange: #FF9C7D;
  --bright-orange: #FF6336;
  --beige: #FFF8E4;
  --light-blue: #C9E8F2;
  --light-brown: #DABC98;
  --light-grey-primary: #EEEEEE;
  --light-grey-secondary: #CCCCCC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1330;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  max-width: 1330px;
}