:root {}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 192rem;
  padding-right: 16rem;
  padding-left: 16rem;
}

.header {
  padding-top: 5rem;
}

.header__logo {}