.contact-section {
  display: grid;
  gap: 30px;
}

@media screen and (min-width: 1024px) {
  .contact-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-section {
    padding-inline: 180px;
  }
}

.contact-data>.line-separator {
  margin-block: 30px;
}

.contact-data>* {
  color: var(--color-main);
}

.contact-data>*,
.contact-data>.mail-link {
  font-size: 21px;
  line-height: 30px;
}

.contact-section .social-link {
  display: flex;
  gap: 10px;
  align-items: end;
}

.link-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}