:root {
  --color-main: #323264;
  --color-main-alt: #46466E;
  --color-main-soft: #686887;
  --color-accent: #F0145A;
  --color-primary: #24A3FF;
  --color-primary-hover: #0085FF;
  --color-primary-active: #006CCF;
  --color-background: #F5F5FA;
  --color-background-alt: #EDEDF7;
  --color-text: #B3B3BA;
  --color-separator: #E6E6F0;
}

/*--- Typography ---*/

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #000000;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: var(--color-main);
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  background: linear-gradient(90deg, #F0145A 1%, #EF8080 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.375rem;
    /* 38px */
    line-height: 2.875rem;
  }
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.625rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
}

p {
  font-size: .875rem;
  line-height: 1.375rem;
}

ol,
ul {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

li+li {
  margin-top: .9375rem;
}

ul li::marker,
ol li::marker {
  color: var(--color-accent);
  font-weight: 700;
}

li {
  padding-left: .5rem;
}


/*--- Links ---*/

a {
  text-decoration: none;
}

.link {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-primary);
  /* TODO: check link text size and line height*/
}

.link:hover {
  color: var(--color-accent);
}

.link:hover .facebook-icon path {
  fill: var(--color-accent);
}

.mail-link {
  font-weight: 700;
}

.map-link {
  font-size: .75rem;
  line-height: .875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.phone-link {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-main);
  font-weight: 700;
}














/* TODO: Check svg images (logos, buttons, etc ) to scale 1x 2x*/